* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141d38;
}

.cartHeroimg {
  width: 90vw;
  height: 90vh;
  object-fit: cover;
  overflow: hidden;
  margin-left: 70px;
  margin-top: 80px;
}
